<?xml version="1.0"?>
<psalm
    errorLevel="1"
    totallyTyped="false"
    >

    <projectFiles>
        <directory name="app" />
        <directory name="routes" />
        <directory name="database" />
        <directory name="tests" />
    </projectFiles>

</psalm>
